

<!-- Main page content -->

<!-- Info -->


<div class="container_16 p-main-info">
	<div class="b-main-info-margin grid_5" type="missing">
		<ul class="b-list p-main-info-list">
			<li><%= image_tag "missing-ico.png" %></li>
			<li><h3>Если пропал близкий вам человек push test</h3></li>
			<li>
				<p class="p-main-info-text">
				Мы поможем вам связаться с профессиональными следователями, волонтерами и просто полезными людьми, готовыми заняться поиском пропавшего.
				</p>
			</li>
			<li><%= button_to "Создать объявление", "/add_missing/common", :class => "t-medium_fat silver blow l-full_width"%></li>
		</ul>	
	</div>
	

	<div class="b-main-info-margin grid_5" type="volunteer">
		<ul class="b-list p-main-info-list">
			<li><%= image_tag "volonter-ico.png" %></li>
			<li><h3>Хотите помочь в поисках?</h3></li>
			<li><p class="p-main-info-text">Если вы готовы уделить ваше время поиску про-<br/>павших без вести. Мы с радостью примем любую помощь от вас.</p></li>
			<li><%= tag :input, { :type => "button", :value => "Хочу принять участие", :class => "p-main-register t-medium_fat silver l-full_width", :for => "volunteer" } %></li>
			<li>
				<div class="b-sidebar p-main-register-box volunteer l-hidden">
					<p class="t-medium">Войдите через</p>
					<div class="p-main-socials">         
						<button class="b-button_social" provider="ok">          
						<button class="b-button_social" provider="vkontakte"> 
						<button class="b-button_social" provider="facebook"> 
						<button class="b-button_social" provider="yandex">
						<button class="b-button_social" provider="twitter">  	
					</div>
					<p class="t-medium">или укажите электронную почту</p> 
					<table class="b-report__search">
						<tr><td class="b-report__search_field">
							<%= text_field_tag "place_search", nil, :placeholder => "your@mail.ru", :class => "b-report__search_field"  %> 
						</td><td class="b-report__search_button">
							<%= tag :input, { :type => :button, :value => "Продолжить" } %>
						</td></tr>
					</table>
				</div> 
			</li>
		</ul>
	</div>
  

</div>

<!-- Splitter -->


<div class="p-main-splitter">
	<div class="container_16"> <%= image_tag "splitter-pointer.png", :class=>"p-main-img-pointer" %> </div>
</div>


<!-- We suggest -->

<div class="p-main-suggest">

    <%= render :partial => 'missing_information' %>
    <%= render :partial => 'volunteer_information' %>


</div>
</div>


