
<% @title = "Найду тебя &mdash; поиск пропавших без вести".html_safe %>
<!-- Main page content -->

<!-- Service popup -->
<%#= render :partial => 'service_dialog' %>

<!-- Afterlogin popup -->
<%#= render :partial => 'aftershow_dialog' %>

<!-- Info -->


<div class="container_16 p-main p-main-info">
	<div class="grid_5" type="missing">
		<ul class="p-main-info-list">
			<li><%= image_tag "missing-ico.png" %></li>
			<li><h3>Если пропал близкий вам человек, мы поможем</h3></li>
			<li>
              <div class="p-main-info-text">
              <ul class="p-main-info-text-list">
                <li>найти добровольцев, готовых заняться поиском</li>
                <li>связаться с людьми, способными оказать вам существенную помощь в поиске</li>
                <li>собрать информации о пропаже</li>
              </ul>
			  </div>
			</li>
            <li><%= button_to "Создать объявление", "/add_missing/", :method => :get, :class => "t-medium_fat silver blow l-full_width"%></li>
		</ul>	
	</div>
	
    <div class="grid_5" type="missing">
      <ul class="p-main-info-list">
        <li><%= image_tag "missing-ico.png" %></li>
        <li><h3>Начните поиск объявлений</h3></li>
        <li>
          <p class="p-main-info-text">
            Вы с легкостью найдете любое объявление из нашей базы – достаточно воспользоваться удобными для вас параметрами поиска: именем, полом, возрастом, регионом пропажи или другими критериями. 
          </p>
        </li>
        <li class="p-main-search-container">
          <%= form_for @search, :url => "/missings", :method => :get do |f| %>
            <table class="l-full_width">
              <tr>
                <td>
                  <%= f.text_field :keywords, :placeholder => "Имя пропавшего", :class => "t-medium p-main-search-field" %>
                </td>
                <td class="p-main-search-button">
                  <%= f.submit "Найти", :name => nil ,:class => "t-medium_fat silver" %>
                </td>
              </tr>
            </table>
          <% end %>
        </li>
      </ul>	
    </div>

	<div class="grid_5" type="volunteer" animate_missing="true">
		<ul class="p-main-info-list">
			<li><%= image_tag "volonter-ico.png" %></li>
			<li><h3>Хотите помочь в поисках?</h3></li>
			<li><p class="p-main-info-text">Ежедневно в нашей стране пропадают сотни людей – вы можете помочь нам найти каждого из них. </p></li>
			<li><%= tag :input, { :type => "button", :value => "Хочу принять участие", :class => "p-main-register t-medium_fat silver l-full_width", :for => "volunteer" } %></li>
			<li>

			  <!-- enter via social -->

				<div class="b-sidebar p-main-register-box volunteer l-hidden">
					<p class="t-medium">Войдите через</p>
					<div class="p-main-socials">         
                    <% omniauth_providers.each do |provider| %>
                      <button class="b-auth__button b-button_social" provider="<%= provider %>" url="<%= user_omniauth_authorize_path(provider) %>" data-width="600" data-height="400">
                    <% end %>
					</div>
					<p class="t-medium">или укажите электронную почту</p> 
					<table class="l-full_width">
						<tr><td class="b-login__field">
							<%= text_field_tag "place_search", nil, :placeholder => "your@mail.ru", :class => "b-login__field"  %> 
						</td><td class="b-login__button">
							<%= tag :input, { :type => :button, :value => "Продолжить" } %>
						</td></tr>
					</table>
				</div> 

				<%#= render :partial => 'socialenter_form' %>

			</li>
		</ul>
	</div>
  

</div>

<!-- Splitter -->


<div class="p-main-splitter">
	<div class="container_16"> <%= image_tag "splitter-pointer.png", :class=>"p-main-img-pointer" %> </div>
</div>


<!-- We suggest -->
<div style="clear: both;"></div>

<div class="p-main-suggest">

    <%= render :partial => 'missing_information' %>
    <%= render :partial => 'volunteer_information' %>


</div>
</div>

