<% unless @missing.collection.nil? %>
<% @missing.collection.each do |c| %>
<div class="b-missing__history">
  <div class="b-header t-medium">
    <%= c[:name] %>
  </div>
    <table class="b-missing__history_table l-full_width">
    <% c[:questions].each do |q| %>
      <tr>
        <% if q[:label] && q[:human_text].nil? %>
        <td class="b-missing__history_label l-half_width">
          <%= q[:label] %>
        </td>
        <td class="b-missing__history_value l-half_width"> 
          <%= q[:human_answer] %>
        </td>  
		<% elsif q[:human_text] %>
		<td colspan="2">     
          <%= q[:human_text]  %>.
        </td>
        <% else q[:human_answer] %>
        <td colspan="2">         
          <%= q[:human_answer] %>.
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
</div>
<% end %>
<% end %>
