<html>
  <head>
    <title>
      Пропал <%= @missing.name %>
    </title>
  <style>
      @page {
        size: landscape;
		width: 100%; margin: 0; float: none;

		
      }            

	@page port {size: portrait;}
	@page land {size: landscape;}

	.portrait {page: port;}

	.landscape {page: land;}

	  body {
	   	font-family: tahoma; 
	  }   
	                  
	 td {
		vertical-align: top;
	}
     .p-missing-print-table {
        width: 100%;
        height: 88%;
        
      }

      .p-missing-print-photo {
        width: 45%;      
      }

      .b-missing__photo_image {
        width: 100%;
        
      }

      .p-missing-print-description {
        padding: 0 1em;
      }

      h1 {
        font-size: 4em;    
  		margin: 0;
		text-align: center;   
		text-transform: uppercase;
      }
       .p-missing-print-description h2 {
        font-size: 2em;
      }
                                
	  .b-header { 
		font-size: 1.2em;
		font-weight: bold;    
		margin-top: .5em;
	   }                      
	
	  .b-missing__history_table { width: 100%; }     
	  .b-missing__history_label { width: 30%; }
	                                             
	  .b-missing-print-qr {
		text-align: center;
	}
    </style>             
<script>
window.print();
</script>
  </head>
  <body>                                            
<div class="page">
<h1>Пропал <% if @missing.age <= 18 %>ребенок<% else %>человек<% end %></h1>
<table class="p-missing-print-table">
  <tr>
    <td class="p-missing-print-photo">
      <%= image_tag @missing.photos.first.photo.url(:large), :class => "b-missing__photo_image" %> 
    </td>
    <td class="p-missing-print-description">
      
      <h2>
        <%= "#{@missing.last_name} #{@missing.first_name}" %><% unless @missing.age.nil? %>, <nobr><%= @missing.age %> <%= Russian.p @missing.age, 'год', 'года', 'лет' %></nobr>, <% end %>
        <% if @missing.last_seen || @missing.city %>
          <%= linguistic_kind @missing.gender, '@пропал' %> <nobr><%= Russian.strftime @missing.last_seen, "%d %B" %></nobr>   <% if @missing.city %> в <%= YandexInflect.inflections(@missing.city).last %> <% end %>
        <% end %>
      </h2>
      <%= render 'missings/missings/common' %>    
	                     
	         
	  <table>
		<tr>
		<td>
     <div class="b-header contacts">Контакты</div>

		<b><%= @missing.user.name %></b> <nobr><%= @missing.user.phone %></nobr><br>   
      	Найду тебя &mdash; <a href="http://naidutebya.ru">naidutebya.ru</a>     
		<h2>Нужны добровольцы для поисков</h2>

		</td>
		<td>
	  <div class="b-missing-print-qr">
	  	<img src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=http://naidutebya.ru<%= missing_path(@missing) %>"> 
   	  </div>   
		</td>
		</tr>
		</table>
	
    </td>
  </tr>
</table>                  
</div>
</body>
</html>

