<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Вы разместили объявление на сайте поиска пропавших без вести <a href="http://naidutebya.ru">Найду тебя</a></h2>
    <p>Теперь наша система знает о том, что пропал <%= @missing.name %>, вам будут приходить данные связаные с пропажей и письма от людей, которые вам могут помочь в поисках.</p>
    <h2>Следующий важный шаг</h2>
    <p>Поделитесь информацией о пропаже со своими друзьями в социальных сетях. Это очень важно, так вам будет проще собрать больше информации о пропавшем или найти добровольцев, которые помогут в поисках. Поделиться информацией можно со <a href="<%= @url %>">страницы объявления</a>.</p>

    <h2>Ваши данные</h2>
    <p>Почта для авторизации на сайте: <%= @user.email %><br>
      <% unless @password.nil? %>Пароль: <%= @password %><br><% end %>
      Страница объявления: <a href="<%= @url %>"><%= @url %></a>
    </p>
    
    <p>Спасибо за использование нашего сервиса, мы сделаем все возможное, чтобы помочь найти вашего близкого.</p>
  </body>
</html>
