<%= form_for(@user, :url => user_path(@user, :format => "json"), :remote => true) do |user| %>
<div class="container_16">
  <div class="grid_16">
    <div class="b-header">Персональная информация</div>
    


    <div class="b-form__field">
       <%= user.label :name, "Ваше имя", :class => "b-form__label" %>
       <%= user.text_field :name, :value => (user.object.name unless user.object.name == "guest") %>
    </div>

<!-- Выходи из дива для hr -->
  </div>
</div>
<!-- End grid_8 and container from new.html.erb -->

<div class="clear"></div>
<hr class="b-hr form" />

<div class="container_16">
  <div class="grid_16">
    <!-- Входим див, после hr -->

    <div class="b-form__field">
     <%= user.label :phone, "Телефон", :class => "b-form__label" %>
     <%= user.text_field :phone %>
    </div>

    <br/>
   
    <div class="b-form__field">
      <%= user.label :email, "Электронная почта", :class => "b-form__label" %>
      <%= user.text_field :email, :value => (user.object.email unless user.object.email =~ /guest/) %>
    </div>

  <!-- Выходи из дива для hr -->
  </div>
</div>
<!-- End grid_8 and container from new.html.erb -->

<div class="clear"></div>
<hr class="b-hr form" />

<div class="container_16">
  <div class="grid_16">
  <!-- Входим див, после hr -->
    <%= tag :input, { :type => "button", :value => user.object.encrypted_password.empty? && user.object.provider ? "Установить пароль" : "Изменить пароль", :class => "p-user__change_password silver_action", :style => (user.object.encrypted_password.empty? && user.object.provider) || !user.object.encrypted_password.empty? ? "" : "display: none" } %>
    <div class="p-edit-user__change_password_container <%= "l-hidden" if !user.object.encrypted_password.empty? || user.object.provider %>">
      <div class="b-form__field <%= "l-hidden" if user.object.encrypted_password.empty? %>">
        <%= user.label :old_password, "Старый пароль", :class => "b-form__label" %>
        <%= user.password_field :old_password %>
      </div>
      <div class="b-form__field">
        <%= user.label :password, "Новый пароль", :class => "b-form__label" %>
        <%= user.password_field :password %>
      </div>
      <div class="b-form__field">
        <%= user.label :password_confirmation, "Подтверждение пароля", :class => "b-form__label" %>
        <%= user.password_field :password_confirmation %>
      </div>
    </div>
    <div class="b-form__save_complete_notification l-hidden">
      <label class="b-tooltip notification block">
        Данные сохранены
      </label>
    </div>
  </div>
</div>

<div class="clear"></div>

<!-- End grid_16 and container -->
<div class="b-form__action_panel">    
  <div class="container_16">
  <div class="grid_16">
      <div class="b-form__actions">
        <%= user.submit "Сохранить", :class => "b-form__save_button blue" %>
      </div>  
    </div>
  </div>
</div>

<% end %>

