<% @title = "Сводка по объявлению" %>
<div class="container_16 p-report b-content">
	<div class="grid_11">

		<div class="b-report__toolbar toolbar">
			<%= check_box_tag "all", 1, true, :class => "b-form-custom-false" %><%= label_tag "all", "Все" %>
			<%= check_box_tag "new_history", 1, false, :class => "b-form-custom-false" %><%= label_tag "new_history", "Новые обстоятельства" %>
			<%= check_box_tag "new_people", 1, false, :class => "b-form-custom-false" %><%= label_tag "new_people", "Кто может помочь" %>
			<%= check_box_tag "people", 1, false, :class => "b-form-custom-false" %><%= label_tag "people", "Сообщения" %>   
          </div>    

        <% if @inbox.size == 0 %>
          <div class="b-sidebar b-report__empty t-medium">
            Пока нет новых обстоятельств или сообщений, попробуйте рассказать о пропаже в социальных сетях.
          </div>
        <% end %>

		
		<div class="b-report__list">      

			         
			<% @inbox.each do |message| %>        
			<div class="b-missing__comment" message_id="<%= message.id %>"> 
				<div class="b-missing__comment_header">
					<% if message.user.nil? %>
						<%= link_to message.name, "", :class => "t-medium b-missing__comment_author" %>    
					<% else %>
						<%= link_to message.user.name, "", :class => "t-medium b-missing__comment_author" %>    
					<% end %>
					<span class="b-missing__comment_date t-small"><%= Russian.strftime message.created_at, "%d %B" %></span>   
					<%= tag :input, { :type => "button", :value => "Ответить", :class => "b-report__message_answer silver_action l-right" } %>
				</div>
				<div class="b-missing__comment_text comment b-tooltip top silver">
					<i class="b-tooltip__tail_border"><b class="b-tooltip__tail"></b></i>
					<div class="b-tooltip__content">
						<%= message.text %>
					</div>
				</div>
			</div>     
			
			<% message.messages.each do |sub_message| %>
			<div class="b-missing__comment sub">
				<div class="b-missing__comment_header l-left">    
					<% if sub_message.user.nil? %>
						<%= link_to sub_message.name, "", :class => "b-missing__comment_author" %>    
					<% else %>
						<%= link_to sub_message.user.name, "", :class => "b-missing__comment_author" %>    
					<% end %>			
					<span class="b-missing__comment_date t-small l-right"><%= Russian.strftime sub_message.created_at, "%d %B" %></span>   
				</div>
				<div class="b-missing__comment_text">
					<%= sub_message.text %>
				</div>
			</div>	
			<% end %>
			<% end %>  
			
			
		</div>
		<div class="b-report__new_message">
		<%= form_for @message, :url => '/send_message.json', :remote => true, :class => "b-report__send_message" do |message| %>
			<%= message.text_area :text, :rows => 4, :class => "b-missing__add_comment", :placeholder => "Текст сообщения" %>   
			<%= message.submit "Отправить", :class=> "b-missing__send_message_button" %>     
			<div class="clear"></div>           
		<% end %> 
		</div>
	</div>
	
	<div class="grid_5 b-rightside"> 
	   	<div class="b-sidebar b-report__statistic">
			<p class="b-sidebar__header">Статистика просмотров</p>
			<p>
              Количество посещений: <span class="b-report__statistic_red"><%= @missing.impressionist_count :filter => :ip_address %></span>
            </p>

            <br/>
		    <div class="l-left">Расскажите о пропаже:</div>
			<div class="addthis_toolbox addthis_default_style l-left b-missing__share">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>   
			</div>   
		    <div class="clear"></div>	
		</div>  
		 
	</div>
</div>

