<% @title = "Сводка по объявлению" %>
<div class="container_16 p-report b-content">
	<div class="grid_11">
		<div class="b-report__toolbar toolbar">
			<%= radio_button_tag "report_type", "all", true, :class => "b-form-custom-false" %><%= label_tag "report_type_all", "Все" %>
			<%= radio_button_tag "report_type", "history", false, :class => "b-form-custom-false" %><%= label_tag "report_type_history", "Новые обстоятельства" %>
			<%= radio_button_tag "report_type", "can_help", false, :class => "b-form-custom-false" %><%= label_tag "report_type_can_help", "Кто может помочь" %>
			<%= radio_button_tag "report_type", "seen", false, :class => "b-form-custom-false" %><%= label_tag "report_type_seen", "Видели пропавшего" %>  
			<%= radio_button_tag "report_type", "messages", false, :class => "b-form-custom-false" %><%= label_tag "report_type_messages", "Сообщения" %>                              
			
          </div>    
        <% if current_user_timeline.size == 0 %>
          <div class="b-sidebar b-report__empty t-medium">
            Пока нет новых обстоятельств или сообщений, попробуйте рассказать о пропаже в социальных сетях.
          </div>
        <% end %>

		
		<div class="b-report__list">       
		<% current_user_timeline.each do |record| %>  
			<% if record.class.to_s == "Message" %>        
				<div class="b-missing__comment element <%= record.class.to_s %> <%= record.sender_id == current_user.id ? "sent" : "received" %>" message_id="<%= record.id %>" user_id="<%= record.sender_id == current_user.id ? record.recipient_id : record.sender_id %>"> 
					<div class="b-missing__comment_header">
						<%= link_to (record.sender_id == current_user.id ? YandexInflect.inflections(record.recipient.name)[2] : record.sender.name), "", :class => "t-medium b-missing__comment_author" %>  
						<span class="b-report__element_date t-small"><%= Russian.strftime record.created_at, "%d %B" %></span>
						<% if record.created_at.to_time.to_i > current_user.last_sign_in_at.to_time.to_i %>
							<span class="t-small b-report__element_new">новое сообщение</span>
						<% end %>
						  
						<%= tag :input, { :type => "button", :value => "Ответить", :class => "b-report__message_answer silver_action l-right" } %>
					</div>
					<div class="b-missing__comment_text comment b-tooltip top silver">
						<i class="b-tooltip__tail_border"><b class="b-tooltip__tail"></b></i>
						<div class="b-tooltip__content">
							<%= record.body %>
						</div>
					</div>     
				</div>     
			<% elsif record.class.to_s == "SeenTheMissing" %>
				<div class="b-missing__comment element <%= record.class.to_s %>" user_id="<%= record.user.id %>" seen_the_missing_id="<%= record.id %>"> 
					<div class="b-missing__comment_header">
						<%= link_to record.user.name, "", :class => "t-medium b-missing__comment_author" %>  
						<span class="b-report__seen t-medium">видел <a href="<%= missing_path(record.missing) %>"><%= YandexInflect.inflections(record.missing.name).second %></a> в <%= YandexInflect.inflections(record.address).last %></span>
						  
						<span class="b-report__element_date t-small"><%= Russian.strftime record.created_at, "%d %B" %></span>    
						<% if record.created_at.to_time.to_i > current_user.last_sign_in_at.to_time.to_i %>
							<span class="t-small b-report__element_new">новое</span>
						<% end %>
						<%= tag :input, { :type => "button", :value => "Написать", :class => "b-report__message_answer silver_action l-right" } %>
					</div>

				</div>
			<% elsif record.class.to_s == "Hashie::Mash" %>
				<div class="b-missing__comment element CanHelp" user_id="<%= record.user.id %>" can_helps_id="<%= record.id %>"> 
					<div class="b-missing__comment_header">
						<%= link_to record.user.name, "", :class => "t-medium b-missing__comment_author" %>  
						<span class="b-report__seen t-medium">может помочь в поисках <a href="<%= missing_path(record.missing) %>"><%= YandexInflect.inflections(record.missing.name).second %></a></span>
						  
						<span class="b-report__element_date t-small"><%= Russian.strftime record.created_at, "%d %B" %></span>    
						<% if record.created_at.to_time.to_i > current_user.last_sign_in_at.to_time.to_i %>
							<span class="t-small b-report__element_new">новое</span>
						<% end %>
						<%= tag :input, { :type => "button", :value => "Написать", :class => "b-report__message_answer silver_action l-right" } %>
					</div>

				</div>
			<% end %>    
			<% record.messages && record.messages.each do |sub_message| %>
		   	   <div class="b-missing__comment sub element <%= record.class.to_s %> <%= record.class.to_s == "Message" && (record.sender_id == current_user.id) ? "sent" : "received" %>">
					<div class="b-missing__comment_header l-left">    
						<%= link_to sub_message.sender.name, "", :class => "b-missing__comment_author" %>    
						<span class="b-missing__comment_date t-small l-right"><%= Russian.strftime sub_message.created_at, "%d %B" %></span>   
					</div>
					<div class="b-missing__comment_text">
						<%= sub_message.body %>
					</div>
				</div>	
			<% end %>
		<% end%> 
			
			
		</div>
		<div class="b-report__new_message">
		<%= form_for @message, :url => '/users/send_message.json', :remote => true, :class => "b-report__send_message" do |message| %>
			<%= message.text_area :body, :rows => 4, :class => "b-missing__add_comment", :placeholder => "Текст сообщения" %>   
			<%= message.submit "Отправить", :class=> "b-missing__send_message_button" %>     
			<div class="clear"></div>           
		<% end %> 
		</div>
	</div>
	
	<div class="grid_5 b-rightside"> 
	   	<div class="b-sidebar b-report__statistic">
			<p class="b-sidebar__header">Статистика просмотров</p>
			<p>
              Количество посещений: <span class="b-report__statistic_red"><%= @missings[0].impressionist_count :filter => :ip_address %></span>
            </p>

            <br/>
		    <div class="l-left">Расскажите всем о пропаже:</div>			
            <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,lj,twitter,odnoklassniki,yaru,moimir,friendfeed"></div> 
		    <div class="clear"></div>	
		</div>  
		 
	</div>
</div>

