<script type="text/javascript" charset="utf-8">
$(function(){	
	$("#add_photo").click(function() {                                              
	  $(".b-form__photos input[type=file]").click();
	});
});	
</script>         

  <div class="b-form__field">               
    <div class="b-sidebar p-new-missing__allready_missing l-hidden">
		<div class="b-form__label">Возможно, уже разместили объявление про этого человека</div>
		
    </div>
    <%= f.label :name, "Кто пропал", :class => "b-form__label" %>
    <%= f.text_field :name, :class => "b-form__text_name", :placeholder => "фамилия имя отчество" %>
  <ul class="b-form__gender_list">
    <li class="b-form__gender_element"> 
      <%= f.radio_button :gender, true  %><%= f.label :gender_true, "мужчина", :class => "b-form__radio_label"  %>
    </li>
    <li class="b-form__gender_element">
      <%= f.radio_button :gender, false  %><%= f.label :gender_false, "женщина", :class => "b-form__radio_label" %>
    </li>
  </ul>
  </div>
  
<!-- Выходи из дива для hr -->
</div>
</div>
<!-- End grid_8 and container from new.html.erb -->

  <div class="clear"></div>
  <hr class="b-hr form" />
  
<div class="container_16">
<div class="grid_16">
<!-- Входим див, после hr -->

  <div class="b-form__field">
    <%= f.label :age, "Возраст", :class => "l-inline b-form__label" %><span class="t-medium b-form__ab_or"> или </span><%= f.label :birthday, "дата рождения", :class => "l-inline b-form__label" %>   
	<div class="clear"></div>      
	<div class="b-form__ab">
   	 <p class="b-form__ages">
	    <%= f.text_field :age, :class => "b-form__text_age" %> <span class="man_age_sign"><%= Russian.p f.object.ages.to_i, 'год', 'года', 'лет' %> </span>               
	    <p class="b-form__birthday"> 
	    	<%= f.date_select :birthday, :order => [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year, :prompt => { :day => "день", :month => "месяц", :year => "год" }  %>
		</p>     
	 </div>
  </div>

</div>
</div>

<div class="clear"></div>
 <hr class="b-hr form" />

<div class="container_16">
<div class="grid_16">
    
  <div class="b-form__field">
    <%= f.label :man_birthday, "Фотографии", :class => "b-form__label" %>
    <div class="l-left">
        <div class="b-form__button_corner ui-corner-all">
           <input id="add_photo" type="button" value="Добавить" class="t-medium" />
           <input id="upload_photo" name="missing_upload_photo" type="hidden" value=0 />
        </div>
        <div class="b-missing__add_photo_description t-small">
          Добавьте минимум две фотографии:
           <ul>
             <li>В полный рост</li>
             <li>Где хорошо видно лицо</li>
           </ul>
        </div>
    </div>
	
	  <ul class="b-form__photos grid_13">
    <%= f.fields_for :photos do |photo_form| %> 
      <% if photo_form.object.new_record? %>
      <li class="b-form__photo_field">
        <%= photo_form.file_field :photo, :class => "invisible" %>
      </li>
      <% else %>
        <li class="b-form__photo">
        <%= image_tag photo_form.object.photo.url(:small), :size => "100x100", :class => "b-form__photo" %>
        <%= tag :input, { :type => "button", :value => "удалить", :class => "b-form__photo_delete red_action destroy" } %>
        <%= photo_form.hidden_field :id %>
        <%= photo_form.hidden_field :_destroy %>
        </li>
      <% end %>
    <% end %>
    </ul>
	
  </div>
    <div class="clear"></div>

<!-- Container and grid_8 div closed in new.html.erb -->
