
  <div class="field">
    <%= f.label :author_name %><br />
    <%= f.text_field :author_name %>
  </div>
  <div class="field">
    <%= f.label :author_phone %><br />
    <%= f.text_field :author_phone %>
  </div>
  <div class="field">
    <%= f.label :author_email %><br />
    <%= f.text_field :author_email %>
  </div>
  <div class="field">
    <%= f.label :author_callback_hash %><br />
    <%= f.text_field :author_callback_hash %>
  </div>
  <div class="field">
    <%= f.label :missing_private_hash %><br />
    <%= f.text_field :missing_private_hash %>
  </div>
  <div class="field">
    <%= f.label :missing_password %><br />
    <%= f.text_field :missing_password %>
  </div>