<div class="b-header__description">
	<h2>Обратная связь</h2>
  	<p>С вами будут связываться люди, которые могут помочь и вам будут приходить уведомления о новой информации связанной с поиском.</p>
</div>

<!-- Выходи из дива для hr -->
</div>
</div>
<!-- End grid_8 and container from new.html.erb -->

  <div class="clear"></div>
  <hr class="b-hr form" />

<%= f.fields_for :user do |user| %>  
<div class="container_16">
<div class="grid_8">
<!-- Входим див, после hr -->

 <div class="b-form__field">
   <%= user.label :name, "Ваше имя", :class => "b-form__label" %>
   <%= user.text_field :name %>
 </div>

<!-- Выходи из дива для hr -->
</div>
</div>
<!-- End grid_8 and container from new.html.erb -->

  <div class="clear"></div>
  <hr class="b-hr form" />

<div class="container_16">
<div class="grid_8">
<!-- Входим див, после hr -->

 <div class="b-form__field">
   <%= user.label :phone, "Телефон", :class => "b-form__label" %>
   <%= user.text_field :phone %>
 </div>

<br>
 
<div class="b-form__field">
  <%= user.label :email, "Электронная почта", :class => "b-form__label" %>
  <%= user.text_field :email %>
</div>

<!-- Выходи из дива для hr -->
</div>
</div>
<!-- End grid_8 and container from new.html.erb -->

  <div class="clear"></div>
  <hr class="b-hr form" />

<div class="container_16">
<div class="grid_8">
<!-- Входим див, после hr -->

	<div class="b-form__field">
	  <%= user.label :password, "Пароль к объявлению", :class => "b-form__label" %>
	  <%= user.text_field :password %>
	</div>

  <%= hidden_field_tag "save" %>        

<% end %>
