<script>                     
var questions = <%= @questions.to_json.html_safe %>;
</script>                    

<div class="b-form__background b-form__questions_container l-hidden b-new-missing-form" data-step="history">
	<div class="container_16">
		<div class="grid_8 b-form__questions_description">
			<p class="b-header__description">
				Ответы на вопросы помогут вам структурировать важную информацию и создать максимально полную картину пропажи.
			</p>
			<p class="b-header__description">
				Если вы не знаете ответ на вопрос, вы сможете вернуться к нему после публикации объявления и добавить нужные данные в любой момент. 
			</p>
		</div>

		<div class="b-form__questions_infinity grid_16">    
			<div class="b-form__questions_fade"></div>  
			<div class="t-big b-form__questionnaire"></div>                  
			<div class="b-form__questions">
			</div>
		</div>       
		<div class="b-form__questions_finish l-hidden">
			<div class="t-medium ">Спасибо за ответы. У нас к вам есть еще вопросы, мы их зададим после размещения объявления.</div> 
			<p><br>Переходите к следующему шагу</p>    
		</div>
	</div>
	<div class="clear"></div>
</div>


<%= form_for @missing, :url => "/add_missing/save_step.json", :remote => true, :html => { 
	:multipart => true,
	:next_step => "/add_missing/" + @missing.next_step,
	:previous_step => "/add_missing/" + @missing.previous_step,
	
	:id => "new_missing" } do |f| %>       
    <div class="b-new-missing-form-container">
    <% @missing.steps.each do |step| %>
   	  <% if step != "history" || (step == "history" && @questions.empty?) %>
      <div class="b-form__background form b-new-missing-form" data-step="<%= step %>">	
          <div class="container_16">
              <div class="grid_16">
                <%= render step, :f => f %>
              </div>
          </div>          
          <div class="clear"></div>
      </div>
      <% end %>
    <% end %>
    </div>

	<!-- End grid_16 and container -->
	<div class="b-form__action_panel">    
		<div class="container_16">
			<div class="grid_16">
				<div class="b-form__actions">
                  <%= f.submit "Предыдущий шаг", :class => "b-form__back_button", :style => @missing.first_step? ? "display: none;" : "", :tabindex => "-1" %>
                  <%= f.submit "Следующий шаг", :class => "b-form__next_button", :style => @missing.last_step? || (current_user && @missing.current_step == "history") ? "display: none;" : "" %>
                  <%= f.submit "Опубликовать объявление", :class => "b-form__save_button blue", :style => @missing.last_step? || (current_user && @missing.current_step == "history") ? "" : "display: none;" %>
                    
				</div>  
			</div>
		</div>
	</div>
  
<% end %>

</div>
</div>
