<%= form_for(@missing) do |f| %>
  <% if @missing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@missing.errors.count, "error") %> prohibited this missing from being saved:</h2>

      <ul>
      <% @missing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render @missing.current_step, :f => f %>


	<div class="b-form__actions">
		<%= f.submit "Предыдущий шаг", :name => "back_button" unless @missing.first_step? %>
		<%= f.submit "Следующий шаг" %>
	</div>
	
</div>
</div>

</div>
<div class="clear"></div>
<!-- End grid_16 and container -->
<div class="b-form__action_panel">
</div>
  
<% end %>
