<div class="b-sidebar b-missing__rightside">
				<p class="b-sidebar__header">Объявление</p>
				<p>
					Размещено <%= Russian.strftime @missing.created_at, "%d %B %Y" %> года
				</p>
				<table class="b-missing__author_data">
					<tr>
						<td class="b-missing__author_data_label">
							Автор
						</td>
						<td class="b-missing__author_data_data">
							<%= @author.username %>
						</td>
					</tr>
					<% unless @author.phone == "" %>
					<tr>
						<td class="b-missing__author_data_label">
							Телефон
						</td>
						<td class="b-missing__author_data_data">
							<%= @author.phone %>
						</td>
					</tr>
					<% end %>
				</table>
				<div class="t-center">              
					<% if @author.id == current_user.object_id %>
					<%= tag :input, { :type => "button", :value => "Отредактировать объявление", :class => "b-missing__toggle_send_message" } %>                                                         
					<% else %>
					<%= tag :input, { :type => "button", :value => "Написать личное сообщение", :class => "b-missing__toggle_send_message" } %>                                                                               
					<% end %>
				</div>
			</div>

		<div class="clear"></div>             	
		
			<div class="b-sidebar b-missing__rightside">
				<p class="b-sidebar__header">Люди которые могут помочь</p>
                
				<div class="b-sidebar__block_list b-list">
				<% @helpers.each do |user| %>
				  <div class="b-list__element">
					<div class="b-list__element_content">
						<a href="<%= user_path(user) %>" class="b-list__name_link">
						<% if user.image_name.nil? %>
							<%= image_tag 'no_photo.jpg', :size => "100x100", :class => "b-list__image"  %>
						<% else %>
							<%= image_tag "/users/" + user.image_name, :size => "100x100", :class => "b-list__image" %>
						<% end %>
						<%= user.username %>
						</a>                  
						<% if user.role == 1%><p>Детектив</p><% end %>
					</div>
					<div class="b-list__element_min"></div>
				  </div>
				<% end %>
				</div>
				
				<div class="b-sidebar__hr_100"></div>

				<ul class="b-sidebar__list">
					<li class="b-sidebar__list_element">Можете оказать помощь</li>
					<li class="b-sidebar__list_element">Вы знаете этого человека</li>
					<li class="b-sidebar__list_element">У вас похожий случай</li>
				</ul>

				<div class="t-center">
					<%= tag :input, { :type => "button", :value => "Я могу помочь", :class => "green t-medium b-missing__i_can_help" } %>
				</div>
			</div>