<div class="b-sidebar b-missing__rightside">
				<p class="b-sidebar__header">Объявление</p>
				<p>
					Размещено <%= Russian.strftime @missing.created_at, "%e %B %Y" %> года
				</p>
				<table class="b-missing__author_data">
					<tr>
						<td class="b-missing__author_data_label">
							Автор
						</td>
						<td class="b-missing__author_data_data">
							<%= @author.name %>
						</td>
					</tr>
					<% unless @author.phone == "" %>
					<tr>
						<td class="b-missing__author_data_label">
							Телефон
						</td>
						<td class="b-missing__author_data_data">
							<%= @author.phone %>
						</td>
					</tr>
					<% end %>
				</table>
				<div class="t-center">        
					<% if current_user && @author.id == current_user.id %>
					<%= tag :input, { :type => "button", :value => "Отредактировать объявление", :class => "b-missing__toggle_send_message" } %>                                                         
					<% else %>
					<%= tag :input, { :type => "button", :value => "Написать личное сообщение", :class => "b-missing__toggle_send_message" } %>                                                                               
					<% end %>
				</div>                              
				
				<hr class="b-hr b-missing__send_message" />
				                                   
				<div class="b-missing__send_message_status t-medium">
				</div>

				<div class="b-missing__send_message">
				<div class="t-medium">Личное сообщение автору</div>
				<%= form_for @message, :url => '/send_message.json', :remote => true do |message| %>
			        <%= message.hidden_field :destination_user_id, :value => @missing.user_id %>
					<%= message.text_area :text, :rows => 4, :class => "b-missing__add_comment", :placeholder => "Текст сообщения" %>  
					<% unless user_signed_in? %> 
					<p class="b-missing__send_message_field">
					<%= message.label :name, "Ваше имя" %><br/>
					<%= message.text_field :name %>  
					</p>                              
					<p class="b-missing__send_message_field">
					<%= message.label :email, "Электронная почта" %><br/>
					<%= message.text_field :email %>       
					</p>
					<p class="b-missing__send_message_field">
					<%= message.label :phone, "Телефон" %><br/>
					<%= message.text_field :phone %>       
					</p> 
					<% end %> 
					<%= message.submit "Отправить", :class=> "b-missing__send_message_button" %>     
					<div class="clear"></div>           

				<% end %>
				</div>
			</div>

		<div class="clear"></div>             	

        <% if current_user && @missing.user.id == current_user.id %>
        <div class="b-sidebar b-missing__rightside">

            <div class="ui-widget">
                <div class="b-sidebar__header">Версии</div>
                  <select class="b-missing__select_version">
                    <% @missing.users_who_answer.each do |u| %>
                      <option value="<%= u.id %>"><%= @missing.user.id == u.id ? "Ваша версия" : YandexInflect.inflections(u.name).second %></option>
                    <% end %>
                  </select>
                </div>
            

            </div>
            <% end %>

				<% if @helpers.length > 0 %>
				<div class="b-sidebar__hr_100"></div>
				
				<div class="b-sidebar__header b-missing__people_can_help">Люди которые могут помочь</div>
                
				<div class="b-sidebar__block_list b-list b-missing__people_can_help">
				<% @helpers.each do |can_help| %>
				  <div class="b-list__element">
					<div class="b-list__element_content">
						<a href="<%= user_path(can_help.user) %>" class="b-list__name_link">
						<% if can_help.user.avatar.nil? %>
							<%= image_tag 'no_photo.jpg', :size => "100x100", :class => "b-list__image"  %>
						<% else %>
							<%= image_tag "/users/" + can_help.user.avatar.url(:thumb), :size => "100x100", :class => "b-list__image" %>
						<% end %>
						<%= can_help.user.name %>
						</a>                  
						<%= content_tag :p, "Детектив" if can_help.user.detective? %>
					</div>
					<div class="b-list__element_min"></div>
				  </div>
				<% end %>
				</div>
				<% end %>           
				
				
			</div>
