<div class="l-left b-missing__map">
	<div class="b-header">Места, где <% if @missing.gender == true %>бывал<% else %>бывала<% end %> <%= @missing.name %></div>

	<% if @places %>
	  <%= gmaps({ "markers" => { "data" => @places } }) %>
	<% else %>
	  <%= gmaps({ "map_options" => { "detect_location" => true, "center_on_user" => true } }) %>
	<% end %>
  </div>

  <div class="l-left b-missing__places">
	<% @missing.places.each do |place| %>
	   <div class="b-form__field b-form__place">
		<div class="b-form__label">
			<%= place.name %>
			<div class="b-missing_hidden_action t-normal">
				<%= tag :input, { :type => "button", :value => "показать на карте", :class => "b-missing__show_place silver_action" } %>
			</div>
		</div>
		<p><%= place.description %></p>
		<p class="t-small"><%= place.address %></p>
		</div>
	<% end %>
   </div>