<div class="b-sidebar b-missing__rightside">
				<p class="b-sidebar__header">Объявление</p>
				<p>
					Размещено <%= Russian.strftime @missing.created_at, "%d %B %Y" %> года
				</p>
				<table class="b-missing__author_data">
					<tr>
						<td class="b-missing__author_data_label">
							Автор
						</td>
						<td class="b-missing__author_data_data">
							<%= @author.username %>
						</td>
					</tr>
					<% unless @author.phone == "" %>
					<tr>
						<td class="b-missing__author_data_label">
							Телефон
						</td>
						<td class="b-missing__author_data_data">
							<%= @author.phone %>
						</td>
					</tr>
					<% end %>
				</table>
				<div class="t-center">
					<%= tag :input, { :type => "button", :value => "Написать личное сообщение", :class => "b-missing__toggle_send_message" } %>
				</div>
			</div>

		<div class="clear"></div>             	
		
			<div class="b-sidebar b-missing__rightside">
				<p class="b-sidebar__header">Люди которые могут помочь</p>

				<div class="b-hr"></div>

				<ul class="b-sidebar__list">
					<li class="b-sidebar__list_element">Можете оказать помощь</li>
					<li class="b-sidebar__list_element">Вы знаете этого человека</li>
					<li class="b-sidebar__list_element">У вас похожий случай</li>
				</ul>

				<div class="t-center">
					<%= tag :input, { :type => "button", :value => "Я могу помочь", :class => "green t-medium b-missing__i_can_help" } %>
				</div>
			</div>