
<div class="p-search container_16">
<%= form_for @search, :url => "/missings", :method => :get do |f| %>
    <div class="t-big">Поиск по объявлениям</div>
    <div class="b-search-filter ui-corner-all b-sidebar">
      <div class="b-search-filter__name">
        <%= f.label :keywords, "Имя, фамилия или отчество", :class => "b-form__label" %>
        <%= f.text_field :keywords, :placeholder => "Имя, регион, тип пропажи", :class => "b-search-filter__name" %>
      </div>

      <div class="clear"></div>

      <div class="b-sidebar__hr_100"></div>
      <div class="b-sidebar__hr_margin"></div>

      <ul class="b-search-filter-list">
        <li class="b-search-filter-list__item">
          <div class="b-form__label">Пол</div>
          <%= f.select :male, [ ["любой", nil], ["мужской", true], ["женский", false] ] %>
        </li>
        <li class="b-search-filter-list__item">
          <div class="b-form__label">Возраст</div>
          <%= radio_button_tag 'ages', nil, f.object.maximum_age.nil? && f.object.minimum_age.nil? ? true : false %> <%= label_tag 'ages_', 'любой' %><br/>
          <%= radio_button_tag 'ages', 'children', f.object.minimum_age == 1 && f.object.maximum_age == 18 ? true : false, :minimum_age => 1, :maximum_age => 18 %> <%= label_tag 'ages_children', 'ребенок' %><br/>
          <%= radio_button_tag 'ages', 'adult', f.object.minimum_age == 18 && f.object.maximum_age == 50 ? true : false, :minimum_age => 18, :maximum_age => 50 %> <%= label_tag 'ages_adult', 'взрослый' %><br/>
          <%= radio_button_tag 'ages', 'eldery', f.object.minimum_age == 50 && f.object.maximum_age.nil? ? true : false, :minimum_age => 50 %> <%= label_tag 'ages_eldery', 'пожилой' %><br/>
          <div class="b-search-filter__ages_container">
            <%= f.text_field :minimum_age, :class => "b-search-filter__ages" %> - <%= f.text_field :maximum_age, :class => "b-search-filter__ages" %><br/>
          </div>
        </li>
        <li class="b-search-filter-list__item">
          <div class="b-form__label">Дата пропажи</div>
          <%= f.text_field :last_seen, :value => @search.last_seen_string, :class => "daterangepicker b-search-filter-list__text_field" %>
        </li>
      </ul>

      <div class="clear"></div>

      <div class="b-sidebar__hr_100"></div>
      <div class="b-sidebar__hr_margin"></div>

      <ul class="b-search-filter-list">
        <li class="b-search-filter-list__item">
          <%= f.label :region, "Регион пропажи", :class => "b-form__label" %>
          <%= f.text_field :region, :class => "b-search-filter-list__text_field" %>
        </li>
        <li class="b-search-filter-list__item">
          <div class="b-form__label">Местность пропажи</div>
          <%= f.radio_button :region_type, nil %><%= f.label :region_type, "любая" %> 
          <%= f.radio_button :region_type, 1 %><%= f.label :region_type_1, "город" %>
          <%= f.radio_button :region_type, 2 %><%= f.label :region_type_2, "лес" %>
        </li>
      </ul>

      <div class="clear"></div>

      <div class="b-sidebar__hr_100"></div>
      <div class="b-sidebar__hr_margin"></div>

      <%= f.check_box :with_photo %> <%= f.label :with_photo, "Только с фотографией" %>

      <div class="b-sidebar__hr_100"></div>
      <div class="b-sidebar__hr_margin"></div>

      <%= f.submit "Показать", :name => nil ,:class => "t-medium silver" %>

      <div class="clear"></div>
    </div>
<% end %>

<%= render 'missings_list' %>
</div>
