<% @title = "Разыскивается #{@missing.name}" %>

<script>
var questions = <%= @questions.to_json.html_safe %>; 
</script>
                         
<div class="b-form__background b-form__questions_container show_page l-hidden">
	<div class="container_16">
		<div class="b-form__questions_infinity grid_16">    
			<div class="b-form__questions_fade"></div>  
			<div class="t-big b-form__questionnaire"></div>                  
			<div class="b-form__questions">
			</div>
		</div>       
		<div class="b-form__questions_finish l-hidden">
			<div class="t-medium">Спасибо за ответы. У нас к вам есть еще вопросы, мы их зададим после размещения объявления.</div> 
			<p><br>Переходите к следующему шагу</p>    
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="container_16 p-missing">
	<div class="grid_11">
		<div class="t-big_fat b-missing__wanted_h">
			Разыскивается <%= @missing.name %><% unless @missing.age.nil? %>, <%= @missing.ages %> <%= Russian.p @missing.age, 'год', 'года', 'лет' %> <% end %>
		</div>

		<div class="b-missing__print_ad">
          <%= image_tag "printer.png" %><a href="#">Печать объявления</a>
		</div>

        <div class="t-medium b-missing__date_location">
          <%= @missing.gender ? 'Пропал' : 'Пропала' %> <%= Russian.strftime @missing.last_seen, "%d %B" %> в <%= YandexInflect.inflections(@missing.city).last %>
        </div>
	<p id="notice"><%= notice %></p>

	
	<div class="b-missing__information">

	<div class="b-missing__leftside">
		<div class="b-missing__photo">
		<% unless @missing.photos.first %>
			<%= image_tag 'no_photo.jpg', :class => "b-missing__photo_image"  %>
		<% else %>
			<%= link_to image_tag(@missing.photos.first.photo.url(:medium), :class => "b-missing__photo_image ui-corner-top"), @missing.photos.first.photo.url, :class => "b-missing__photo_link", :rel => "photos" %>
		<% end %>
		</div>                
		<% if @missing.photos.length > 1 %>
		<ul class="b-missing__photos">
		<% @missing.photos.drop(1).each do |photo| %>
          <li class="b-missing__photos_photo l-left">
            <%= link_to image_tag(photo.photo.url(:thumb), :size => "60x60"), photo.photo.url, :class => "b-missing__photo_link", :rel => "photos"  %>
		  </li>
		<% end %>
		</ul>         
		<% end %>
		<%= tag :input, { :type => "button", :value => "Я видел этого человека", :class => "blue b-missing__i_saw t-medium" } %>
	</div>
	
	<div class="b-missing__center">
		<%= render 'show_common' %>
	</div>
	
	</div>
	
	<div class="clear"></div>
	<div class="b-missing__sharies">
		<span class="l-left b-missing__share">Ваши друзья могут знать что-нибудь о пропавшем, расскажите им:</span>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style l-left b-missing__share">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<!-- AddThis Button END -->
  </div>
	<div class="clear"></div>

    <%= render :partial => 'show_map' %>

	<div class="clear"></div>
	
	<div class="b-missing__comments_header b-header">Обсуждение</div>
	<div class="clear"></div>
	
	<div class="b-missing__comments">
	<% @missing.discussions.each do |comment| %>        
    <% if comment.discussion_id == nil %>
	<div class="b-missing__comment" discussion_id="<%= comment.id %>">
		<div class="b-missing__comment_header">
			<% if comment.user.nil? %>
				<%= link_to "Анонимный комментарий", "", :class => "t-medium b-missing__comment_author" %>    
			<% else %>
				<%= link_to comment.user.name, "", :class => "t-medium b-missing__comment_author" %>    
			<% end %>
			<span class="b-missing__comment_date t-small"><%= comment.discussion_id %> <%= Russian.strftime comment.created_at, "%d %B" %></span>   
			<%= tag :input, { :type => "button", :value => "Ответить", :class => "b-missing__comment_answer silver_action l-right" } %>
		</div>
		<div class="b-missing__comment_text comment b-tooltip top silver">
			<i class="b-tooltip__tail_border"><b class="b-tooltip__tail"></b></i>
			<div class="b-tooltip__content">
				<%= comment.comment %>
			</div>
		</div>
	</div>        
	                           
   	<% comment.discussions.each do |sub_comment| %>
	<div class="b-missing__comment sub">
		<div class="b-missing__comment_header l-left">    
			<% if sub_comment.user.nil? %>
				<%= link_to "Анонимный комментарий", "", :class => "b-missing__comment_author" %>    
			<% else %>
				<%= link_to sub_comment.user.name, "", :class => "b-missing__comment_author" %>    
			<% end %>			
			<span class="b-missing__comment_date t-small l-right"><%= Russian.strftime sub_comment.created_at, "%d %B" %></span>   
		</div>
		<div class="b-missing__comment_text">
			<%= sub_comment.comment %>
		</div>
	</div>	
	<% end %>
	
	<% end %>
	<% end %>
	</div>
	
	
	<div class="b-missing__add_comment">
	<div class="t-medium">Комментировать</div>
	<%= form_for @discussion, :url => '/missing/add_comment.json', :remote => true, :class => "new_discussion"  do |comment| %>
        <%= comment.hidden_field :missing_id %>
		<%= comment.text_area :comment, :rows => 4, :class => "b-missing__add_comment" %>
		<%= comment.submit "Отправить", :class=> "b-missing__add_comment_button l-right" %>     
		<div class="clear"></div>
	<% end %>
	</div>
	
	<!-- end center block -->
	</div>
	
	
	<div class="grid_5 b-rightside">
			<%= render :partial => 'show_right_sidebar' %>
	</div>
	
</div>

<div class="clear"></div>  
                                
