<div class="container_16 b-missing">
	<div class="grid_11">
		<div class="b-header">
			Разыскивается <%= @missing.name %><% unless @missing.man_age.nil? %>, <%= @missing.man_age %> <%= Russian.p @missing.man_age, 'год', 'года', 'лет' %> <% end %>
		</div>
		<div class="l-left b-missing_header__description">
			<span class="l-left b-missing__share">Ваши друзья могут знать что-нибудь о пропавшем, расскажите им:</span>
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style l-left b-missing__share">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<!-- AddThis Button END -->
		</div>
		<p id="notice"><%= notice %></p>

	
	<div class="b-missing__information">

	<div class="b-missing__leftside">
		<div class="b-missing__photo">
		<% unless @missing.photos.first %>
			<%= image_tag 'no_photo.jpg', :class => "b-missing__photo"  %>
		<% else %>
			<%= link_to image_tag(@missing.photos.first.photo.url(:medium), :class => "b-missing__photo"), @missing.photos.first.photo.url, :class => "b-missing__photo_link", :rel => "photos" %>
		<% end %>
		</div>
		<%= tag :input, { :type => "button", :value => "Я видел этого человека", :class => "blue b-missing__i_saw t-medium" } %>
	</div>
	
	<div class="b-missing__center">
		<%= render 'show_common' %>
	</div>
	
	</div>
	
	<div class="clear"></div>
	<hr class="b-hr" />
	
    <%= render :partial => 'show_map' %>

	<div class="clear"></div>
	<hr class="b-hr b-missing__hr_map_discussion" />
	
	<div class="b-header">Обсуждение</div>
	<div class="clear"></div>
	
	<div class="b-missing__comments">
	<% @missing.discussions.each do |comment| %>        
    <% if comment.discussion_id == nil %>
	<div class="b-missing__comment" discussion_id="<%= comment.id %>">
		<div class="b-missing__comment_header">
			<% if comment.user.nil? %>
				<%= link_to "Анонимный комментарий", "", :class => "t-medium b-missing__comment_author" %>    
			<% else %>
				<%= link_to comment.user.name, "", :class => "t-medium b-missing__comment_author" %>    
			<% end %>
			<span class="b-missing__comment_date t-small"><%= comment.discussion_id %> <%= Russian.strftime comment.created_at, "%d %B" %></span>   
			<%= tag :input, { :type => "button", :value => "Ответить", :class => "b-missing__comment_answer silver_action l-right" } %>
		</div>
		<div class="b-missing__comment_text comment b-tooltip top silver">
			<i class="b-tooltip__tail_border"><b class="b-tooltip__tail"></b></i>
			<div class="b-tooltip__content">
				<%= comment.comment %>
			</div>
		</div>
	</div>        
	                           
   	<% comment.discussions.each do |sub_comment| %>
	<div class="b-missing__comment sub">
		<div class="b-missing__comment_header l-left">    
			<% if sub_comment.user.nil? %>
				<%= link_to "Анонимный комментарий", "", :class => "b-missing__comment_author" %>    
			<% else %>
				<%= link_to sub_comment.user.name, "", :class => "b-missing__comment_author" %>    
			<% end %>			
			<span class="b-missing__comment_date t-small l-right"><%= Russian.strftime sub_comment.created_at, "%d %B" %></span>   
		</div>
		<div class="b-missing__comment_text">
			<%= sub_comment.comment %>
		</div>
	</div>	
	<% end %>
	
	<% end %>
	<% end %>
	</div>
	
	
	<div class="b-missing__add_comment">
	<div class="t-medium">Комментировать</div>
	<%= form_for @discussion, :url => '/missing/add_comment.json', :remote => true, :class => "new_discussion"  do |comment| %>
        <%= comment.hidden_field :missing_id %>
		<%= comment.text_area :comment, :rows => 4, :class => "b-missing__add_comment" %>
		<%= comment.submit "Отправить", :class=> "b-missing__add_comment_button l-right" %>     
		<div class="clear"></div>
	<% end %>
	</div>
	
	<!-- end center block -->
	</div>
	
	
	<div class="grid_5 b-rightside">
			<%= render :partial => 'show_right_sidebar' %>
	</div>
	
</div>

<div class="clear"></div>  
                                
                                                        
<div class="b-missing__i_can_help_window l-hidden">            
	<%= form_for @i_can_help, :url => "i_can_help.json", :remote => true do |help| %>
	
	<div class="t-biggest">Чем вы можете помочь</div>
	<ul class="b-missing__i_can_help_variants">
		<li class="l-left"><%= check_box_tag "i_can_help__information", 1, !(help.object.missing_information.nil? && help.object.places.length == 0) %><%= label_tag "i_can_help__information", "У меня есть информация" %></li>                    
		<li class="l-left"><%= check_box_tag "i_can_help__search", 1, !(help.object.information.nil? && help.object.help_types.length == 0) %><%= label_tag "i_can_help__search", "Могу помочь в поисках" %></li>
		<li class="l-left"><%= check_box_tag "i_can_help__similar" %><%= label_tag "i_can_help__similar", "У меня похожий случай" %></li> 
	</ul>               
	<div class="clear"></div>       
	
	<div class="b-missing__i_can_help_window_blocks">
	   	<div class="b-missing__i_can_help_window_information <%= "l-hidden" if help.object.information.nil? and help.object.places.length == 0 %>">
			<div class="t-big">Информация</div>
			<div class="l-half_width l-left">
				<div class="t-bold">В свободной форме</div>
				<%= help.text_area :missing_information, :rows => 4 %>
				<div class="b-form__field_description">Пожалуйста, опишите как можно подробнее</div>
			</div>           
			<div class="l-half_width l-left">
				<div class="t-bold"><nobr>Возможно вы видели человека в конкретном месте</nobr></div>
				<table class="b-report__search">
					<tr><td class="b-report__search_field">
						<%= text_field_tag "i_can_help__place_search", nil, :placeholder => "Адрес места", :class => "b-report__search_field"  %> 
					</td><td class="b-report__search_button">
						<%= tag :input, { :type => :button, :value => "Добавить" } %>
					</td></tr>
				</table>      
			
				<%= gmaps( :map_options => { :container_class => "b-missing__i_can_help_map_container", :id => "i_can_help_map", :class => "b-missing__i_can_help_map" }) %>
			
			
				<ol class="b-missing__i_can_help__places">                        
					<li><p class="b-missing__i_can_help__places_item">город Москва, ул Добромиловка, дом 45</p> <i class="b-form__item_remove" ></i></li>    
				</ol>
			</div>  
			<div class="clear"></div>                      
		</div>   
	 
		
	
		<div class="b-missing__i_can_help_window_search <%= "l-hidden" if help.object.information.nil? and help.object.help_types.length == 0 %>"> 
			<div class="t-big">Помощь в розыске</div>    
	    	<ul class="b-missing__i_can_help__search_types">          
				<% @help_types.each do |help_type, index| %>      
				<li class="b-missing__i_can_help__search_types_item"><%= check_box_tag "can_help[help_type_ids][]", help_type.id, @i_can_help.help_type_ids.include?(help_type.id), { :id => "can_help_help_type_ids_#{help_type.id}" } %><%= label_tag "can_help[help_type_ids][#{help_type.id}]", help_type.name %></li>
				<% end %>                    
			</ul>                                                                                                             
			<div class="t-bold">Напишите, если можете помочь чем-то еще</div>
			<%= help.text_area :information, :rows => 4 %>
			<div class="b-form__field_description">Например, у вас есть автомобиль или GPS</div>    
			<div class="clear"></div>                      
		</div>   
	</div>                  
	
	<% end %>
</div>