<div class="container_16 b-missing">
	<div class="grid_12">
		<div class="b-header">
			Разыскивается <%= @missing.name %><% unless @missing.man_age.nil? %>, <%= @missing.man_age %> <%= Russian.p @missing.man_age, 'год', 'года', 'лет' %> <% end %>
		</div>
		<div class="l-left b-missing_header__description">
			<span class="l-left b-missing__share">Ваши друзья могут знать что-нибудь о пропавшем, расскажите им:</span>
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style l-left b-missing__share">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<!-- AddThis Button END -->
		</div>
		<p id="notice"><%= notice %></p>

	
	<div class="b-missing__information">

	<div class="b-missing__leftside">
		<div class="b-missing__photo">
		<% unless @missing.photos.first %>
			<%= image_tag 'no_photo.jpg', :class => "b-missing__photo"  %>
		<% else %>
			<%= image_tag "/photos/" + @missing.photos.first.image_name, :class => "b-missing__photo" %>
		<% end %>
		</div>
		<%= tag :input, { :type => "button", :value => "Я видел этого человека", :class => "green b-missing__i_saw t-medium" } %>
	</div>
	
	<div class="b-missing__center">
		<%= render 'show_common' %>
	</div>
	
	</div>
	          
	<div class="clear"></div>
	<hr class="b-hr b-missing__send_message" />   
	
	<div class="b-missing__send_message_status t-medium">
	</div>
	
	<div class="b-missing__send_message">
	<div class="t-medium">Личное сообщение автору</div>
	<%= form_for @message, :url => '/send_message.json', :remote => true do |message| %>
        <%= message.hidden_field :destination_user_id %>
		<%= message.text_area :message, :rows => 4, :class => "b-missing__add_comment", :placeholder => "Текст сообщения" %>   
		<p class="b-missing__send_message_field">
		<%= message.label :name, "Ваше имя" %><br/>
		<%= message.text_field :name %>  
		</p>                              
		<p class="b-missing__send_message_field">
		<%= message.label :email, "Электронная почта" %><br/>
		<%= message.text_field :email %>       
		</p>
		<p class="b-missing__send_message_field">
		<%= message.label :phone, "Телефон" %><br/>
		<%= message.text_field :phone %>       
		</p>
		<%= message.submit "Отправить", :class=> "b-missing__send_message_button" %>     
		<div class="clear"></div>
	<% end %>
	</div>
	
	<div class="clear"></div>
	<hr class="b-hr" />
	
    <%= render :partial => 'show_map' %>

	<div class="clear"></div>
	<hr class="b-hr b-missing__hr_map_discussion" />
	
	<div class="b-header">Обсуждение</div>
	<div class="clear"></div>
	
	<div class="b-missing__comments">
	<% @missing.discussions.each do |comment| %>        
    <% if comment.discussion_id == nil %>
	<div class="b-missing__comment" discussion_id="<%= comment.id %>">
		<div class="b-missing__comment_header">
			<% if comment.user.nil? %>
				<%= link_to "Анонимный комментарий", "", :class => "t-medium b-missing__comment_author" %>    
			<% else %>
				<%= link_to comment.user.username, "", :class => "t-medium b-missing__comment_author" %>    
			<% end %>
			<span class="b-missing__comment_date t-small"><%= comment.discussion_id %> <%= Russian.strftime comment.created_at, "%d %B" %></span>   
			<%= tag :input, { :type => "button", :value => "Ответить", :class => "b-missing__comment_answer silver_action l-right" } %>
		</div>
		<div class="b-missing__comment_text comment b-tooltip top silver">
			<i class="b-tooltip__tail_border"><b class="b-tooltip__tail"></b></i>
			<div class="b-tooltip__content">
				<%= comment.comment %>
			</div>
		</div>
	</div>        
	                           
   	<% comment.discussions.each do |sub_comment| %>
	<div class="b-missing__comment sub">
		<div class="b-missing__comment_header l-left">    
			<% if sub_comment.user.nil? %>
				<%= link_to "Анонимный комментарий", "", :class => "b-missing__comment_author" %>    
			<% else %>
				<%= link_to sub_comment.user.username, "", :class => "b-missing__comment_author" %>    
			<% end %>			
			<span class="b-missing__comment_date t-small l-right"><%= Russian.strftime sub_comment.created_at, "%d %B" %></span>   
		</div>
		<div class="b-missing__comment_text">
			<%= sub_comment.comment %>
		</div>
	</div>	
	<% end %>
	
	<% end %>
	<% end %>
	</div>
	
	
	<div class="b-missing__add_comment">
	<div class="t-medium">Комментировать</div>
	<%= form_for @discussion, :url => '/missing/add_comment.json', :remote => true, :class => "new_discussion"  do |comment| %>
        <%= comment.hidden_field :missing_id %>
		<%= comment.text_area :comment, :rows => 4, :class => "b-missing__add_comment" %>
		<%= comment.submit "Отправить", :class=> "b-missing__add_comment_button l-right" %>     
		<div class="clear"></div>
	<% end %>
	</div>
	
	<!-- end center block -->
	</div>
	
	
	<div class="grid_4">
			<%= render :partial => 'show_right_sidebar' %>
	</div>
	
</div>

<div class="clear"></div>