<style type="text/css" media="screen">
	.b-header { margin-top: 8px; }
</style>
<div class="container_16">
	
<div class="grid_11">
	<div class="b-header">
		Эти люди пропали в <a href="#">Москве</a>   
	</div>
	<p class="b-header__description">
	Вы можете помочь нам в поиске людей, пропавших в вашем районе.
	Если у вас есть информация о случаях исчезновения людей в вашем районе — пожалуйста, поделитесь ей с нами.
	</p>
	<div class="b-list">
	<% @missings.each do |missing| %>
	  <div class="b-list__element">
		<div class="b-list__element_content">
			<a href="<%= missing_path(missing) %>/" class="b-list__name_link">
			<% unless missing.photos.first %>
				<%= image_tag 'no_photo.jpg', :size => "160x160", :class => "b-list__image"  %>
			<% else %>
				<%= image_tag missing.photos.first.photo.url(:small), :size => "160x160", :class => "b-list__image" %>
			<% end %>
			<%= missing.name %>
			</a>
		</div>
		<div class="b-list__element_min"></div>
	  </div>
	<% end %>
	</div>
</div>
<div class="grid_5  b-rightside">
	<div class="b-sidebar">
		<div class="b-sidebar__header">
			Если у вас пропал близкий
		</div>
		<%= button_to 'Создайте объявление', '/add_missing/common',  :class => "blue b-sidebar__create_missing t-medium", :method => "get"  %>
		<div class="b-sidebar__hr"></div>
		<div class="b-sidebar__header">
			Мы собираем информацию об опасных местах
		</div>
		<ul class="b-sidebar__list">
			<li class="b-sidebar__list_element">притонах</li>
			<li class="b-sidebar__list_element">сектах</li>
			<li class="b-sidebar__list_element">борделях</li>
			<li class="b-sidebar__list_element">сомнительных организаций</li>
		</ul>
		<%= button_to 'я знаю о таких местах', new_missing_path  %>
	</div>
</div>

</div>