<style type="text/css" media="screen">
	.b-header { margin-top: 8px; }
</style>
<div class="container_16">
	
<div class="grid_11">
	<div class="b-header">
		Я могу помочь в поисках в <a href="#">Москве</a> и в 100 км вокруг.  
	</div>
	<ul class="p-volunteer-missings__i_can_help__search_types">  
	<% @help_types.each do |help_type, index| %>      
	<li class="p-volunteer-missings	__search_types_item"><%= check_box_tag "can_help[help_type_ids][]", help_type.id, false, { :id => "can_help_help_type_ids_#{help_type.id}" } %><%= label_tag "can_help[help_type_ids][#{help_type.id}]", help_type.name %></li>
	<% end %> 
	</ul>

<%= render :partial => 'missings_list' %>

</div>
<div class="grid_5  b-rightside">
	<div class="b-sidebar">
		<div class="b-sidebar__header">
			Если у вас пропал близкий
		</div>
		<%= button_to 'Создайте объявление', '/add_missing/common',  :class => "blue b-sidebar__create_missing t-medium", :method => "get"  %>
		<div class="b-sidebar__hr"></div>
		<div class="b-sidebar__header">
			Мы собираем информацию об опасных местах
		</div>
		<ul class="b-sidebar__list">
			<li class="b-sidebar__list_element">притонах</li>
			<li class="b-sidebar__list_element">сектах</li>
			<li class="b-sidebar__list_element">борделях</li>
			<li class="b-sidebar__list_element">сомнительных организаций</li>
		</ul>
		<%= button_to 'я знаю о таких местах', new_missing_path  %>
	</div>
</div>

</div>