<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
   <%= csrf_meta_tag %>

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
 
  <!-- jQuery & jQuery UI -->
  <%= stylesheet_link_tag "application" %>
  
  <%= javascript_include_tag "application" %>    
  <%= javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=AHmGEU8BAAAAJIFvPQIAD1wXXrhoqnwsspxpPhtmLSqwEwgAAAAAAAAAAAAbOVs7mmCHXD2cPLCxn5CBw7VoPQ==" %>                      
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e5c782a66f297f6"></script>
  <script>
    var logged_in = <%= current_user ? "true" : "false" %>;
  </script>
</head>

<body>	
<div id="wrapper"> 

<!-- Check user auth, if user not logged in then show block below -->
<% unless user_signed_in?  %>
<div class="b-head-bg">
  <div class="container_16"> 
	<div class="b-head__logo grid_3">
		<%= link_to_unless_current image_tag('logo.png', :class => 'l-left'), '/' %>
	</div> 
	<div class="grid_13">    
		<input type="button" class="b-head__login maroon l-right" value="Войти на сайт" />  
		
		<div class="b-head__login_form p-main-dialog-a-service">
			<!-- Dialog with social auth buttons -->
			<h3>Выберите сервис на котором вы зарегистрированны</h3>
				
				<div class="p-main-dialog-a-service-sep">&nbsp;</div>
			
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_fb.png" %>Facebook</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_tw.png" %>Twitter</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_gl.png" %>Google</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_vk.png" %>Вконтакте</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_ya.png" %>Яндекс</a></div>
				
				<div class="p-main-dialog-a-service-sep">&nbsp;</div>
			
			<h3>Или войдите по электронной почте</h3>
            <%= form_for "user", :url => user_session_path, :remote => true, :tabindex => 1, :html => { :id => "login_form" } do |login_form| %>
              <%= login_form.hidden_field :remember_me, :value => true %>
			<ul>
              <li><div>Почта:</div><%= login_form.text_field :email, :tabindex => 2 %></li>
              <li><div>Пароль:</div><%= login_form.text_field :password, :tabindex => 3 %></li>
			</ul>
			
            <%= login_form.submit "Войти", :tabindex => 5 %>
			или 
			<a class="p-main-dialog-a-service-submit_register" href="#">зарегистрироваться</a>
          <% end %>
		</div>
	</div>
       
    
  </div>      
</div>  

<!-- User already logged in, show this block -->
<% else %> 
<div class="b-head-bg__logged">
  <div class="container_16">
 	<div class="b-head__logo grid_3">
		<%= link_to_unless_current image_tag('logo.png', :class => 'l-left'), '/' %>
	</div>  
    <div class="b-head__auth grid_3">  
		<button class="b-auth__button loggedin maroon l-right" provider="<%= current_user.provider %>"><%= current_user.name %></button>	
		<div class="b-auth__list b-select__list ui-corner-bottom l-hidden">
            <%= link_to "Выйти", destroy_user_session_path, :method => :delete, :class => "b-select__list_item" %>
		</div>
	</div>                 
	<div class="clear"></div>
	<div class="grid_10 b-missing__tabs">
		<ul class="b-missing__tabs">      
		<% if current_user.has_missing? %>			
			<%= link_to_unless_current content_tag("li", "Объявление", :class => "b-missing__tab"), missing_path(current_user.missings.first), :class => "b-missing__tab_link"  %>    
			<%= link_to_unless_current content_tag("li", "Сводка по объявлению", :class => "b-missing__tab"), '/report', :class => "b-missing__tab_link" %> 
			<%= link_to_unless_current content_tag("li", "Поиск объявлений", :class => "b-missing__tab"), '/missings', :class => "b-missing__tab_link" %>    
		<% else %>
			<%= link_to_unless_current content_tag("li", "Поиск объявлений", :class => "b-missing__tab"), '/missings', :class => "b-missing__tab_link" %>
			<%= link_to_unless_current content_tag("li", "Разместить объявление", :class => "b-missing__tab"), '/add_missing', :class => "b-missing__tab_link" %>
		<% end %>
		</ul>
	</div>	   
	
  </div>      
 </div>
<% end %>    

  <div class="clear"></div>
  <div id="content">
  <%= yield %> <!--! end of #container -->
  </div>
  <div class="clear"></div>

</div>
<!-- end div#wrapperer -->

<div id="footer">
  <hr class="b-hr" />
  <div class="container_16">
	  <table class="b-footer">
	  <tr>
		<td class="b-footer__statistic">
          <p>Сейчас в розыске <%= Missing.all.size %> человек, <a href="/missings">помогите их найти</a></p>
		</td>
		<td class="b-footer__nav">
			<ul class="b-footer__nav_list">
				<li class="b-footer__nav_element"><a href="/info">Что это такое?</a></li>
				<li class="b-footer__nav_element"><a href="http://naidutebya.reformal.ru" onclick="Reformal.widgetOpen();return false;" onmouseover="Reformal.widgetPreload();">Обратная связь</a></li>
			</ul>
		</td>
		<td class="b-footer__copyright">
          <p>&copy; <%= Time.now.year %> Найду тебя &mdash; поиск пропавших безвести</p>
		</td>
	  </table>
  </div>
</div>
  <!-- JavaScript at the bottom for fast page loading -->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-26145427-1'],['_trackPageview'],['_trackPageLoadTime'],['_setDomainName', '.yapropal.ru']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <%= yield :scripts %>
  <script type="text/javascript">
    var reformalOptions = {
        project_id: 54648,
        project_host: "naidutebya.reformal.ru",
        force_new_window: false
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v1/reformal.js?1';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
  </script>
</body>
</html>
