<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
   <%= csrf_meta_tag %>

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Я пропал &mdash; поиск пропавших без вести</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
 
  <!-- jQuery & jQuery UI -->
  <%= stylesheet_link_tag "application" %>
  
  <%= javascript_include_tag "application" %>    
  <%= javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=AMIjr04BAAAAiqLwEAIAxJ3Rc1d-Pqr4lDahYvOYW2vbYVEAAAAAAAAAAADDG5GEvPqd72eJsxxDy4dds6D8OA==" %>                      
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e5c782a66f297f6"></script>

</head>

<body>	
<div id="wrapper"> 


<!-- Check user auth, if user not logged in then show block below -->
<% unless user_signed_in?  %>
<div class="b-head-bg">
  <div class="container_16"> 
	<div class="b-head__logo grid_3">
		<%= link_to_unless_current image_tag('logo/' + rand(12).to_s() + '.png', :class => 'l-left'), '/' %>
		</a>           
	</div> 
	<div class="grid_13">    
		<input type="button" class="b-head__login maroon l-right" value="Войти на сайт" />  
		
		<div class="b-head__login_form p-main-dialog-a-service">
			<!-- Dialog with social auth buttons -->
			<h3>Выберите сервис на котором вы зарегистрированны</h3>
				
				<div class="p-main-dialog-a-service-sep">&nbsp;</div>
			
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_fb.png" %>Facebook</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_tw.png" %>Twitter</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_gl.png" %>Google</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_vk.png" %>Вконтакте</a></div>
				<div class="p-main-dialog-a-service-soc"><a href="#"><%= image_tag "soc_ya.png" %>Яндекс</a></div>
				
				<div class="p-main-dialog-a-service-sep">&nbsp;</div>
			
			<h3>Или войдите по электронной почте</h3>
			<ul>
				<li><div>Почта:</div><input type="text" /></li>
				<li><div>Пароль:</div><input type="text" /></li>
			</ul>
			
			<input class="p-main-dialog-a-service-submit_enter" type="submit" value="Войти" /> 
			или 
			<a class="p-main-dialog-a-service-submit_register" href="#">зарегистрироваться</a>
		</div>
	</div>
       
    
  </div>      
</div>  

<!-- User already logged in, show this block -->
<% else %> 
<div class="b-head-bg__logged">
  <div class="container_16">
 	<div class="b-head__logo grid_3">
		<%= link_to_unless_current image_tag('logo/' + rand(12).to_s() + '.png', :class => 'l-left'), '/' %>
		</a>           
	</div>  
	<div class="grid_11 b-head__menu">
	   <table class="b-head__menu_table">
		<tr>
			<td>
				<div class="b-head__logined">Для вас есть новости, <%= current_user.name %>.<br/> 
			</td>              
		</tr>
		</table>   	
	</div>
    <div class="b-head__auth grid_1">  
		<%= button_to "Выйти", destroy_user_session_path, :method => :delete,  :class => "maroon" %>     
		
  
 
	</div>                 
	<div class="clear"></div>
	<div class="grid_10 b-missing__tabs">
		<ul class="b-missing__tabs">      
			<% if current_user.has_missing? %>			
			<%= link_to_unless_current content_tag("li", "Объявление", :class => "b-missing__tab"), missing_path(current_user.missings.first), :class => "b-missing__tab_link"  %>    
			<%= link_to_unless_current content_tag("li", "Сводка по объявлению", :class => "b-missing__tab"), '/report', :class => "b-missing__tab_link" %>     
			<% else %>
			<%= link_to_unless_current content_tag("li", "Обзор дел", :class => "b-missing__tab"), '/report', :class => "b-missing__tab_link" %>
			<%= link_to_unless_current content_tag("li", content_tag("span", "Сообщения") + tag("input", :type => "button", :value => "3", :class => "orange b-missing__tab_message_count"), :escape => true, :class => "b-missing__tab"), '/inbox', :class => "b-missing__tab_link" %>
			<% end %>
		</ul>
	</div>	   
	
  </div>      
 </div>
<% end %>    

  <div class="clear"></div> 
  <%= yield %> <!--! end of #container -->

  <div class="clear"></div>

</div>
<!-- end div#wrapperer -->

<div id="footer">
  <hr class="b-hr" />
  <div class="container_16">
	  <table class="b-footer">
	  <tr>
		<td class="b-footer__statistic">
			<p>Мы помогли найти 1042 человек. Сейчас в розыске 14 132 человек, <a href="#">помогите их найти</a></p>
		</td>
		<td class="b-footer__nav">
			<ul class="b-footer__nav_list">
				<li class="b-footer__nav_element"><a href="#">Что это такое?</a></li>
				<li class="b-footer__nav_element"><a href="#">Обратная связь</a></li>
			</ul>
		</td>
		<td class="b-footer__copyright">
			<p>&copy; 2011 Bijou people &mdash; поиск пропавших безвести</p>
		</td>
	  </table>
  </div>
</div>
  <!-- JavaScript at the bottom for fast page loading -->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-26145427-1'],['_trackPageview'],['_trackPageLoadTime'],['_setDomainName', '.yapropal.ru']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <%= yield :scripts %>
</body>
</html>
